.body{
    padding-top: 60px;
}

.nav-title {
    color: whitesmoke;
    font-size: x-large;
    margin-right: 60px;
}


.navbar {
    background-color: dimgray;
}


.nav-item {
    color: lightgray;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:10px;
}

.nav-link {
    color: gray;
}

/*.active {*/
/*    background-color: white;*/
/*    border-radius: 5px;*/
/*}*/

.add-btn {
    color: lightgray !important;
}

li.nav-item.active {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, .13);
    border-radius: 5px;
    border: 10px;

}

.module-list {
    background: rgba(0, 0, 0, .3);
}

.module-list-pill {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 5px;
}


.module-list-pill .nav-link {
    background-color: rgba(0, 0, 0, .3);
    color: whitesmoke;
}

.topic-list {
    padding-top: 30px;
    background-color: whitesmoke;

}

